# Copyright (C) 2023 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0

on property:vendor.post_boot.parsed=1
    # IRQ Tuning
    # IRQ 253: msm_drm0
    # IRQ 208: kgsl_3d0_irq
    write /proc/irq/208/smp_affinity_list 1
    write /proc/irq/253/smp_affinity_list 2

    # CPUFreq
    write /sys/devices/system/cpu/cpufreq/policy0/walt/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/policy0/walt/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpufreq/policy4/walt/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/policy4/walt/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpufreq/policy7/walt/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/policy7/walt/down_rate_limit_us 20000
