# Copyright (C) 2023 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0

# Xiaomi has some stuff that still isn't unified for their variants.
# Instead of making a seperate target we can put the diff in /odm and overlay it.

on init
    mount overlay overlay /odm/bin ro lowerdir=/odm/overlayfs/${ro.boot.hardware.sku}/odm/bin:/odm/bin
    mount overlay overlay /odm/etc ro lowerdir=/odm/overlayfs/${ro.boot.hardware.sku}/odm/etc:/odm/etc
    mount overlay overlay /odm/firmware ro lowerdir=/odm/overlayfs/${ro.boot.hardware.sku}/odm/firmware:/odm/firmware
    mount overlay overlay /odm/lib64 ro lowerdir=/odm/overlayfs/${ro.boot.hardware.sku}/odm/lib64:/odm/lib64
    mount overlay overlay /vendor/bin ro lowerdir=/odm/overlayfs/${ro.boot.hardware.sku}/vendor/bin:/vendor/bin
    mount overlay overlay /vendor/etc ro lowerdir=/odm/overlayfs/${ro.boot.hardware.sku}/vendor/etc:/vendor/etc
    mount overlay overlay /vendor/firmware ro lowerdir=/odm/overlayfs/${ro.boot.hardware.sku}/vendor/firmware:/vendor/firmware
    mount overlay overlay /vendor/lib64 ro lowerdir=/odm/overlayfs/${ro.boot.hardware.sku}/vendor/etc:/vendor/lib64
