app_domain(parts_app)

binder_use(parts_app)

hal_client_domain(parts_app, hal_aospa_xiaomitouch)

binder_call(parts_app, hal_aospa_xiaomitouch)

allow parts_app {
  activity_service
  content_capture_service
  game_service
  hal_aospa_xiaomitouch_service
  netstats_service
  trust_service
  sensorservice_service
  vendor_perf_service
}:service_manager find;

allow parts_app system_app_data_file:dir create_dir_perms;
allow parts_app system_app_data_file:{
  file
  lnk_file
} create_file_perms;
