<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.settings.overlay.xiaomi13.cn">

    <overlay
        android:isStatic="true"
        android:priority="850"
        android:targetPackage="com.android.settings"
        android:requiredSystemPropertyName="ro.product.model"
        android:requiredSystemPropertyValue="2211133C" />
</manifest>
